; https://editorconfig.org
root = true

; default configuration
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tab

[{*.nix,flake.lock}]
indent_style = space
indent_size = 2

[*.{yml,yaml,toml,xml,json,rasi,conf}]
indent_style = space
indent_size = 2

[*.lua]
indent_style = space
indent_size = 2
quote_style = single
trailing_table_separator = smart

; leave generated code alone
[*.generated.*]
indent_style = unset

; leave arkenfox user.js alone
[modules/firefox/*.js]
indent_style = unset
