@define-color drac-bgd #282a36;
@define-color drac-cur #44475a;
@define-color drac-fgd #f8f8f2;
@define-color drac-cmt #6272a4;
@define-color drac-cya #8be9fd;
@define-color drac-grn #50fa7b;
@define-color drac-ora #ffb86c;
@define-color drac-pnk #ff79c6;
@define-color drac-pur #bd93f9;
@define-color drac-red #ff5555;
@define-color drac-yel #f1fa8c;

* {
	font-family: 'MesloLGM Nerd Font';
	font-size: 14px;
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0 6px;
}

.warning {
	color: @drac-red;
}

#waybar {
	background: transparent;
	color: @drac-cmt;
}

#workspaces button {
	background: transparent;
	color: @drac-cmt;
}

#workspaces button.persistent {
	color: @drac-cur;
}

#workspaces button.focused {
	color: @drac-pnk;
}

#network.disconnected {
	color: @drac-red;
}

#pulseaudio.muted {
	color: @drac-red;
}

#battery.charging {
	color: @drac-grn;
}

#clock {
	color: @drac-pur;
	border-bottom: 1px solid;
}
